            <div class="tab-pane fade show active" id="voicedialer" role="tabpanel">
                {% include "dashboard/tabs/dialer/_styles.html" %}

                {% include "dashboard/tabs/dialer/_topbar.html" %}
                {% include "dashboard/tabs/dialer/_banners.html" %}

                {% include "dashboard/tabs/dialer/_contacts.html" %}
                    {% include "dashboard/tabs/dialer/_contact_detail.html" %}

                     {% include "dashboard/tabs/dialer/_phone_home.html" %}
                     {% include "dashboard/tabs/dialer/_app_stats.html" %}
                     {% include "dashboard/tabs/dialer/_app_quote.html" %}
                     {% include "dashboard/tabs/dialer/_app_messages.html" %}
                    {% include "dashboard/tabs/dialer/_app_calls.html" %}
                    {% include "dashboard/tabs/dialer/_app_calendar.html" %}
                    {% include "dashboard/tabs/dialer/_app_discord.html" %}
                    {% include "dashboard/tabs/dialer/_app_slack.html" %}
                    {% include "dashboard/tabs/dialer/_app_insights.html" %}
                    {% include "dashboard/tabs/dialer/_notifications.html" %}

                {% include "dashboard/tabs/dialer/_scripts_mobile.html" %}
                {% include "dashboard/tabs/dialer/_modal_export.html" %}
            </div>
